:root {
  /* typography */
  --text-extra-small: clamp(0.5rem, 1.2vw, 0.7rem);
  --text-small: clamp(0.775rem, 1.8vw, 1rem);
  --text-medium: clamp(0.7rem, 2.2vw, 1.1rem);
  --text-large: clamp(2rem, 4.5vw, 3rem);

  /*  colours */
--primary-color: #313338;
--secondary-color: #2b2d31;
--tertiary-color: #383a40;
--text-color-one: #dbdee1;
--text-color-two: #b5bac1;
--hover-color-one: #35373c;
--hover-color-two: #f2f3f5;
--border-color: #3f4147;

  /*  spacing */
  --space-small: 0.5rem;
  --space-medium: 0.75rem;
  --space-large: 1rem;
  --space-extra-large: 1.25rem;
  --border-radius-small: 0.5rem;
}

body {
  font-family: "Plus Jakarta Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  width: 99vw;
  height: 99vh;
  background-color: var(--primary-color);
  color: var(--text-color-one);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  border: none;
  border-radius: var(--space-medium);
  /* padding: 1px; */
}

a {
  color: white;
}


svg {
  color: whitesmoke;
  
}

/* Firefox */
* {
  scrollbar-color: silver transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar-thumb {
  background-color: silver;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
