.messageMenuInner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  height: 3rem;
  gap: var(--space-medium);
  padding: var(--space-small);
}

.messageOptions,
.messageReactions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-small);
}
.messageReactions {
  border-right: 1px solid gray;
  border-radius: 0;
  height: 1rem;
}

.emojiButton {
  background-color: inherit;
}

.messageMenu {
  position: absolute;
  inset: auto;
  margin: 0;
  top: anchor(bottom);
  right: anchor(right);
  padding: 1px;
  background-color: inherit;
}

.actionButtons {
  background-color: inherit;
}


.actionButtons,.emojiButton {
  /* border: 1px solid white; */
  min-width: 2rem;
  min-height: 2rem;
  background-color: var(--tertiary-color);
  cursor: pointer;
}